
body{
    background-image: linear-gradient(135deg, white, rgb(89, 119, 255));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
    display: block;
    background-color: rgba(224, 229, 255, 0.5);
    border-radius:15px;
    backdrop-filter: blur 4px;
    left: 50%;
    top: 50%;
    width: 70%;
    height: 70%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
    
    position: absolute;
    transform: translate(-50% ,-50%);
}
.flex{
    display: flex;
}
#logoSangue{
    height: 50%;
;
}
#imagemcont{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 70vh;   
}
.container_form{
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 229, 255, 0.5);
    border-radius:15px;
    backdrop-filter: blur 4px;
    padding: 0 20px;
    overflow-y: scroll;
    width: 60%;
}
::-webkit-scrollbar {
    width: 0px;
}
h3{
    font-size: 40px;
    margin: 5px;
}
input{
    width: 100%;
    padding: 12px;
    background-color: rgba(224, 229, 255, 0.76);
    border: none;
    border-radius: 10px;
     box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}
select{
    background-color: rgba(224, 229, 255, 0.76);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 12px;
}
input:hover{
    border-radius: 10px 10px 40px 10px;
    transform: scale(1.02);
    box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1), 
    inset -17px -4px 47px -19px rgba(255,0,0,0.43);

}
select:hover{
    border-radius: 10px 10px 40px 10px;
    transform: scale(1.02);
    box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1), 
    inset -17px -4px 47px -19px rgba(255,0,0,0.43);
}
label{
    margin: 5px;
}
button{
    color: aliceblue;
    width: 100%;
    background-color: rgba(238, 24, 24, 0.76);
    box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 2px 1px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: none;
    margin-top: 25px;
    height: 35px;
    transition: 0.3s;
}
button:hover{
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
    background-color: rgb(150, 150, 150);
}
button:active{
    transform: translateY(2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
input:focus {
    border: 2px solid #e63946;
    outline: none;
}


input:valid {
    border-color: #2a9d8f;
}
.inputarea{
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(128, 128, 128, 0.123);
    border-radius: 10px;
}
.icon{
    margin: 10px;
}